<p id="notice"><%= notice %></p>
<p>
  <strong>Display name:</strong>
  <%= @member.display_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @member.job_title %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @member.photo_url %>
</p>
<p>
<strong>Merits</strong>
<% @merits.each_pair do |name, count| %>
    <div class="merit"><%=name%> <span class="merit-count"><%=count%></span></div>
<% end %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
