<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @member.job_title %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @member.photo_url %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @member.display_name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @member.organization %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
